build/
*.iws
.DS_Store
**/node_modules
package-lock.json
/vendor
/composer.lock
_notes/
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno
src/FusionAuth/OpenIdConnect/_notes/dwsync.xml
src/FusionAuth/Jwt/_notes/dwsync.xml
src/FusionAuth/RestClient/_notes/dwsync.xml
src/FusionAuth/Jwt/_notes/dwsync.xml
src/FusionAuth/RestClient/_notes/dwsync.xml
*.xml
